/app/src/main/java/ua/com/spacetv/mycookbook/interfaces/LicenseKey.java
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.gitignore
/app/src/main/java/ua/com/spacetv/mycookbook/tools/StaticFields.java

