*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.gitignore
/app/src/main/java/ua/com/spacetv/mycookbook/google_services/Ads.java
/app/src/main/java/ua/com/spacetv/mycookbook/google_services/Analytics.java
